@keyframes cloud {
    from {}
    to {}
}
@keyframes buildings {
    from {transform:translateX(0);}
    to {transform:translateX(500px);}
}
@keyframes wheels {
    from {transform:rotate(0);}
    to {transform:rotate(-360deg);}
}