#mobile_wrap {
    background-color:#FF70A7; /* mobile_wrap */
    width:440px; height:956px; /* mobile_wrap */
    text-align:center; /* 자식,자손 정렬 */
    font-family:'Pretendard',sans-serif; /* 자식,자손 글꼴 통일 */
}
#mobile_wrap .photo {
    margin-top:105px;
    margin-bottom:29px;
    display:inline-block; /* 부모에 위치를 줘야하고, a태그가 인라인으로 잡혀서 그런거라 블록으로 설정해줘야 위치가 설정된다. */
}
#mobile_wrap .photo img{} /* 필요없으면 안써도 됩니다. */
#mobile_wrap h1 {
    font-size:2.188rem;
    line-height:110%;
    font-weight:500;
    margin-bottom:67px;
    color:#000;
}
#mobile_wrap h1 span {
    color:#fff;
    font-weight:700;
}
#mobile_wrap h2 { /* 블록은 텍스트얼라인 적용 안됨 */
    color:#fff;
    font-size:1.25rem;
    line-height:200%;
    font-weight:600;
    width:228px; /* 폭 안에 글자 가운데로 넣을 수 있음 */
    margin-left:auto; /* 사용자가 보는 디스플레이 화면이 다 다르고, 고정할 수 없으니 auto로 설정하여 자동으로 변경되게 해주는 것! */
    margin-right:auto; /* 사용자가 보는 디스플레이 화면이 다 다르고, 고정할 수 없으니 auto로 설정하여 자동으로 변경되게 해주는 것! */
    text-align:left;
    /* display:inline-block; */
}
#mobile_wrap .git {
    color:white;
    font-size:1rem;
    line-height:200%;
    font-weight:400;
    width:228px; /* 폭 안에 글자 가운데로 넣을 수 있음 */
    margin-left:auto; /* 사용자가 보는 디스플레이 화면이 다 다르고, 고정할 수 없으니 auto로 설정하여 자동으로 변경되게 해주는 것! */
    margin-right:auto; /* 사용자가 보는 디스플레이 화면이 다 다르고, 고정할 수 없으니 auto로 설정하여 자동으로 변경되게 해주는 것! */
    text-align:left;
}
#mobile_wrap .skill {}
#mobile_wrap .skill li {
    color:white;
    font-size:1rem;
    line-height:200%;
    font-weight:400;
    width:228px;
    margin-left:auto; /* 사용자가 보는 디스플레이 화면이 다 다르고, 고정할 수 없으니 auto로 설정하여 자동으로 변경되게 해주는 것! */
    margin-right:auto; /* 사용자가 보는 디스플레이 화면이 다 다르고, 고정할 수 없으니 auto로 설정하여 자동으로 변경되게 해주는 것! */
    text-align:left;
}