#wrap {
    background-color:#224EAC;
    height:956px;
    width:440px;
    text-align:center;
}
#wrap .logo {
    padding-top:312px;
    margin-bottom:58px;
}
#wrap .logo img {}
#wrap #btn_wrap {
    width:300px;
    /* 블록의 너비값을 부모보다 작게 설정했을 때 블록을 가운데정렬하고 싶다면? */
    margin-left:auto;
    margin-right:auto;
    text-align:left; /* btn_wrap의 인라인 자식, 자손 왼쪽 정렬 */
}
#wrap #btn_wrap a {
    /* 한 태그에 대한 공통값을 주고싶을 때 하나의 태그로 묶어서 넣어주면 된다!! */
    display: block;/* block의 너비는 부모 너비의 100%와 같다 */
    text-align: center; /* 글자보다 넒은 너비를 가진 a의 자식글자를 가운데 정렬 */
}
#wrap #btn_wrap .login_btn {
    background-color:#C6D7FF;
    height:40px;
    line-height:40px;
    font-size:0.875rem;
    letter-spacing:-0.02;
    border-radius:20px;
}
#wrap #btn_wrap .sign_up_btn {
    margin-top:16px;
    margin-bottom:16px;
    line-height:40px;
    height:40px;
    font-size:0.875rem;
    letter-spacing:-0.02;
    background-color:#C6D7FF;
    border-radius:20px;
    /* border:선두께 선모양 선색상; -> border:1px solid #fff */
}
#wrap #btn_wrap .pw_search {
    color:#FFFFFF;
    font-size:0.75rem;
    display:inline;
}