main {
    width:1000px;
    background-color:#eee;
    margin:0 auto; /* 좌우가 아무리 늘어나도 항상 가운데! */
}
main h1 {}
main h1 a {}
main h1 a img {}
/* ==============================가입약관 */
main .law {
    background-color:#fff;
    width:90%; height:180px; /* 보이는 영역 크기 */
    margin:30px auto; padding:16px;
    overflow:auto; /* 크기보다 글이 넘치면 스크롤을 만들어라! */
}
main .law h2 {margin:0 0 30px;}
main .law h3 {margin:0 0 15px;}
main .law p {line-height:1.5; margin:20px 0;}
/* ==============================가입정보입력 */
main #login_frm {}
main #login_frm .member_info {
    /* width:1000px; */
    overflow:hidden;
}
main #login_frm .member_info dt {
    width:200px;
    background-color:green;
    float:left; clear:both;/* dt를 계속 아래로 내리고 싶다! */
}
main #login_frm .member_info dd {}
/* 사용자 입력, 선택 양식을 담은 두번째 dd 선택자 */
/* main #login_frm .member_info dd:nth-of-type(odd) {background-color: yellow;} */
main #login_frm .member_info dd:nth-of-type(2n+1) {
    width:650px; float:left;
    background-color: yellow;
}
/* 사용자 입력, 선택 양식을 담은 세번째 dd 선택자 */
/* main #login_frm .member_info dd:nth-of-type(even) {background-color: skyblue;} */
main #login_frm .member_info dd:nth-of-type(2n) {
    width:150px; float:left;
    background-color: skyblue;
}
/* ==============================나머지 자식, 자손 개별 선택자 */
main #login_frm .member_info dt em {}
/* ==============================id,pw,name,email,phone 묶음속성 */
main #login_frm .member_info dd input[name^=user] {
    background-color: #fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:90%; padding:12px;
}
/* ==============================오른쪽 중복확인, 인증번호 버튼 묶음 선택자 */
main #login_frm .member_info dd:nth-of-type(2n) .btn {
    background-color:red;
}
/* ==============================휴대폰, 주소, 성별, 생년월일 선택자 */
main #login_frm .member_info dd select[name^=news] {}
main #login_frm .member_info dd select[name^=news] option {}
main #login_frm .member_info dd input[name*=phone] {}
/* ==============================인증번호 버튼 개별 선택자 */
main #login_frm .member_info dd #authentication_btn {background-color:coral;}
main #login_frm .member_info dd #add_search_btn {background-color: orange;}
main #login_frm .member_info dd #add_search_btn + span {background-color: pink;}
main #login_frm .member_info dd input[name=gender] {background-color: blue;}
main #login_frm .member_info dd input[name=gender] + label {background-color: blue;}
main #login_frm .member_info dd input[name=gender]:checked + label {background-color:purple;}
main #login_frm .member_info dd input[name^=birth] {background-color:brown}
/* ==============================가입버튼 */
main #login_frm .btn {}
main #login_frm .btn #join_btn {}